<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Z80 SBC</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Z80 SBC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        File
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#romModal">Load ROM</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ihexModal" >Load iHex</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" id="reset">Reset</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#helpModal">Help</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="container">
        <div class="row justify-content-md-center">
            <div id="col-md-auto">
                </br>
                <div class="card mb-3">
                    <div class="card-body">
                        <div id="terminal-wrapper">
                            <canvas id="terminal" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Help Modal -->
    <%= require('html-loader!./modal/help.html') %>
    <!-- Rom Modal -->
    <%= require('html-loader!./modal/rom.html') %>
    <!-- IHEX Modal -->
    <%= require('html-loader!./modal/ihex.html') %>
</body>

</html>